[Unit]
Description=Redis cache
After=network-online.target

[Container]
Image=registry.redhat.io/rhel9/redis-6:latest
PublishPort=6379:6379
Volume=redis-data:/data:Z
Environment=REDIS_PASSWORD=changeme

[Service]
Restart=always

[Install]
WantedBy=default.target
